#Ignore latexian temporary files.
*LatexianTemp*

#For now, don't need to track random figures.
Figures/*

#Don't need to track mssel
Scripts/mssel*

#Or autosaved files
*(Autosaved)*

#or generated trajectories
Scripts/my.standing*
Scripts/seedms

#Don't need to track Maize Data
MaizeData/
Scripts/Objects
