#Ignore latexian temporary files.
*LatexianTemp*

#For now, don't need to track random figures.

#Or autosaved files
*(Autosaved)*

#or generated trajectories
Scripts/my.standing*
Scripts/seedms

#Don't need to track Maize Data
MaizeData/
Scripts/Objects

Output/*
Working/*
LS\ Notebook/*
*.DS_Store
